div {
  word-wrap: break-word;
}
@font-face {
	font-family: 'Nasa';
	src: url('/fonts/nasa.ttf');
}
ol {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.bgSWF {
	z-index: -10;
}

html {
	font-size: 10px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	font-family: 'Nasa';
}

body {
	font-size: 14px;
	line-height: 1.375;
	background-attachment: fixed;
	color: #7f7;
	font-family: 'Nasa';
	background-image: url('/img/space/NewBackgroundWithBlack.png');
}

a{
	color:cyan;
}
