/node_modules/*
/server/*
/logs/*.log
*.wt
*.lock
WiredTiger
*.turtle
*.data
*.bson
client/leaderboard/
client/accountusage/data.json
client/*.js

# Python
*/__pycache__/
*.pyc

# Server Logs (production)
logs/
error_logs/

# Dev ssl
test-ssl/

# Node.JS
package-lock.json
