[req]
default_bits = 2048
prompt = no
distinguished_name = dn
req_extensions = v3_req
x509_extensions = v3_req

[dn]
C  = ES
ST = Madrid
L  = Madrid
O  = torn.space
CN = tornspace.duckdns.org
emailAddress = andromedavirgoa@gmail.com

[v3_req]
basicConstraints            = CA:FALSE
keyUsage                    = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage            = serverAuth
subjectAltName              = @alt_names
nsComment                   = "OpenSSL Generated Certificate"

[alt_names]
DNS.1 = tornspace.duckdns.org
DNS.2 = *.tornspace.duckdns.org