[req]
default_bits = 2048
prompt = no
distinguished_name = dn
req_extensions = v3_req
x509_extensions = v3_req

[dn]
C  = ES
ST = Madrid
L  = Madrid
O  = torn.space
CN = 2a0c:5a82:9205:2b01:0000:0000:0000:3abb
emailAddress = andromedavirgoa@gmail.com

[v3_req]
basicConstraints            = CA:FALSE
keyUsage                    = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage            = serverAuth
subjectAltName              = IP:2a0c:5a82:9205:2b01:0000:0000:0000:3abb, DNS:*.space
nsComment                   = "OpenSSL Generated Certificate"