@import "../index.css";

h1 {
  font-family: var(--bs-font-sans-serif) !important;
}

h1,
thead > tr {
  color: #09f;
}

.table-wrapper {
  background-color: #00000080;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Sort By */
select,
input {
  background-color: #00000080 !important;
  color: #fff !important;
}

select,
input {
  width: 16rem !important;
}

/* Table Layout */
table {
  margin-bottom: 0 !important;
}

table td {
  padding: 0.125rem !important;
}

thead > tr {
  position: sticky;
  top: 0;
  transition: 0.3s;
}

thead > tr.th-sticky > th {
  background-color: #000000de;
}

thead > tr.th-sticky > th:first-child {
  border-bottom-left-radius: 1rem;
}

thead > tr.th-sticky > th:last-child {
  border-bottom-right-radius: 1rem;
}

/* Team colors */
.team-red {
  color: var(--alien);
}

.team-green {
  color: var(--cyborg);
}

.team-blue {
  color: var(--human);
}
