body {
    background-color: #000;
    background-image: url('/img/space/Background.png');
}

form {
    background: rgba(0, 0, 0, 0.5);
}

input.form-control, input.form-control:focus {
    background-color: rgba(100, 100, 100, 0.25);
    color: #fff;
    border: none;
}

input.form-control:focus {
    border: 1px solid #1e90ff;
}
