@import "../index.css";

body {
  font-family: var(--bs-font-sans-serif) !important;
}

.card {
  background: rgb(0 0 0 / 65%);
  border-radius: 0.3125rem;
}

input.form-control,
input.form-control:focus {
  background-color: rgb(100 100 100 / 25%);
  color: #fff;
  border: none;
}

input.form-control:focus {
  border: 1px solid #1e90ff;
}
