#font-face {
  font-family: Telegrama;
  src: url("img/telegrama2.otf");
}

body,
#a {
  font-family: Telegrama;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
